<div class="new-post">
  <%= link_to 'Create New Post', new_post_path, class: "new-post-btn" %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post_path(post) do %>
        <h2 class="post-title"><%= post.title %> by <%= post.user.email %></h2>
      <% end %>
    </div>
  <% end %>
</div>


